footer{
    margin-top: 100px;
    width: 100%;
    background-color: var(--dark-grey);
    
}
footer .logo{
    display: flex;
    justify-content: center;
    width: 100%;
}
footer img{
    width: 150px;
}
footer p{
    text-align: center;
    font-weight: 700;
    color: #fff;
   
}