header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.logo-container{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    
}
.logo-container img{
    width: 250px;
    height: 250px;
   
}

.text-conteiner{
    font-family: "gotham";
    width: 80vw;
    max-width: 70%;
}

.text-conteiner h1{
    padding-top: 50px;
    font-size: 50px;
    color: var(--dark-grey);
}

.text-conteiner div{
    width: 10vh;
    border: 5px solid var(--dark-grey);
    margin-top: 10px;
}

.text-conteiner p{
    padding-top: 30px;
    max-width: 90%;
}