<section>
    <div class="container-dlegend">
        
        <div class="mascara">
            <h1>Mascara</h1>
            <div class="images">
                <img src="../../../assets/imgs/required-mask.png">
                <img src="../../../assets/imgs/recommended-mask.png">
            </div>
        </div>

        <div class="toalha">
            <h1>Toalha</h1>
            <div class="images">
                <img src="../../../assets/imgs/required-towel.png">
                <img src="../../../assets/imgs/recommended-towel.png">
            </div>
        </div>

        <div class="bebedouro">
            <h1>Bebedouro</h1>
            <div class="images">
                <img src="../../../assets/imgs/partial-fountain.png">
                <img src="../../../assets/imgs/forbidden-fountain.png">
            </div>
        </div>

        <div class="vestiario">
            <h1>Vestiario</h1>
            <div class="images">
                <img src="../../../assets/imgs/required-towel.png">
                <img src="../../../assets/imgs/recommended-towel.png">
            </div>
        </div>
    </div>
</section>