<main class="main">
   <div class="countainer-img">
      <img src="../../../assets/imgs/icon-hour.png" alt="">
      <p class="horario-p">Horario</p>
   </div>

   <div id="calendario">
      <h1>Qual periodo quer treina?</h1>
      <div class="conteiner-horario">
         <input type="checkbox" class="tempo-checkBox">
         <p class="paragrafo">Manha </p>
         <p class="horario paragrafo">06:00 as 12:00</p>
      </div>

      <div class="conteiner-horario">
         <input type="checkbox" class="tempo-checkBox">
         <p class="paragrafo">Tarde </p>
         <p class="horario paragrafo">12:01 as 18:00</p> 
      </div>

      <div class="conteiner-horario">
         <input type="checkbox" class="tempo-checkBox" >
         <p class="paragrafo">Noite </p>
         <p  class="horario paragrafo">18:01 as 23:00</p> 
      </div>  
      
    
   </div>
</main>
